body {
    font-family: sans-serif;
    color: #4c4c4c;
}

main {
    display: flex;
    flex-wrap: wrap;
}

input[type="number"] {
    width: 5rem;
}

h1 {
    text-align: center;
}

h2 {
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 2px solid gray;
}

button, input[type="submit"] {
    border: none;
    color: white;
    background-color: #aac7cd;
    padding: 0.3rem 0.8rem;
    margin: 0.3rem;
}

button:hover, input[type="submit"]:hover {
    background-color: #b3b3b3;
}

input[type="submit"] {
    background-color: #9ea9e3;
}

input[type="number"] {
    margin: 0.2rem 0;
}

/*
 * left
 */
.left {
    width: 70%;
}

.expenses {
    display: flex;
}

.expenses h2 {
    width: 100%;
}

.expenses > div {
    width: 35%;
}

label[for=new_expense] {
    display: inline-block;
    margin-top: 1rem;
}

/*
 * responsive
 */

@media screen and (max-width: 1100px) {
    .expenses > div {
        width: 48%;
    }
}

@media screen and (max-width: 920px) {
    .left {
        width: 50%;
        margin-left: 2rem;
    }

     .expenses {
        flex-direction: column;
    }

    .expenses > div {
        width: 100%;
    }
}

@media screen and (max-width: 605px){
    main {
        justify-content: center;
    }

    .right, .left {
        width: 60%;
        margin: 0;
    }
}

@media screen and (max-width: 480px){
    body {
        font-size: 0.8rem;
    }
    .right, .left {
        width: 100%;
    }
}